{% load staticfiles %}

<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="../../static/css/default.css" />
        <link rel="stylesheet" type="text/css" href="../../static/css/header.css" />
        <link rel="stylesheet" type="text/css" href="../../static/css/usuario_page.css" />
    </head>

    <body style="width:100%; height:90%">
        <div id='base' style="width: 100%; height: 100%;">
            <div id="header_box">
                {% include 'home/header.html' %}
            </div>

            {% if active == True %}
                {% include 'home/usuario_page.html' %}
            {% else %}
            <div id="conteudo_box">
                {% include 'home/default.html' %}
            {% endif %}
            </div>

        </div>
    </body>

</html>
