<html>
    <head>
        <title>Pagina do {{usuario_other.name}}</title>
        <link rel="stylesheet" type="text/css" href="../../static/css/header.css" />
    </head>

    <body style="width:100%; height:90%">
        <div id='base' style="width: 100%; height: 100%;">
            <div id="header_box">
                {% include 'home/header.html' %}
            </div>

            <div id="conteudo_box">
                <form method="post" enctype="multipart/form-data"> {% csrf_token %}
                    <input type="submit" name="add_friend" value="Solicitar amizade para o(a) {{usuario_other.name}}"/>
                </form>

                <p>solicitações para o fulano: {{usuario_other.solicitacao}}</p>

            </div>

        </div>
    </body>

</html>
